* {
    box-sizing: border-box;
}

header {
    background-color: aqua;
    border: 1px aqua solid;
    border-radius: 15px;
}

body {
    background-color: black;
}

.info {
    position: absolute;
    background-color: #e847AE;
    border: 5px #3B27BA solid;
    border-radius: 30px;
    margin: 0 auto;
    width:99%;
    height: 800px;
    overflow: hidden;
}

h1{
    border:1px #13CA91 solid;
    border-radius: 15px;
}

h2{
    position: relative;
}

h1,h2 {
    text-align: center;
    background-color: #13CA91;
    color: white;
    margin-top: 0;
    overflow: hidden;
}

h3 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    color: white;
    animation: h3 5s linear 0s 1 alternate forwards;
}

img {
    margin-left: 1900px;
    margin-top: -400px;
    width: 300px;
    animation: driving 5s linear 0s 1 alternate forwards;
    overflow: hidden;
}

.road {
    position: absolute;
    border:1px black solid;
    width: 100%;
    height: 300px;
    background-color: black;
    transform: rotate(-27deg) translateY(300px);
}

.road2 {
    position: absolute;
    border:1px black solid;
    width: 105%;
    height: 250px;
    background-color: black;
    transform: rotate(27deg) translate(-113px, 300px);
}


li {
    position: absolute;
    list-style: none;
    width: 20px;
    height:20px;
    background-color: black;
    border-radius: 50%;
    left: 37%;
    bottom:300px;
    opacity: 0;
}

li:nth-child(even){
    animation: smokeEven 1500ms linear 5.5s infinite;
}

li:nth-child(odd){
    animation: smokeOdd 1250ms linear 5.5s infinite;
}

@keyframes smokeEven{
    0%{background-color:#262626; transform: translate(0,0) scale(1); opacity: 1; filter: blur(5px);}
    50%{background-color:#3a3939;transform: translate(12.5px,-50px) scale(2); opacity: 1; filter: blur(7.5px);}
    100%{background-color:#262626;transform: translate(25px,-100px) scale(3); opacity: 1; filter: blur(10px);}
}

@keyframes smokeOdd{
    0%{background-color:#262626; transform: translate(0,0) scale(1); opacity: 1; filter: blur(5px);}
    50%{background-color:#3a3939;transform: translate(-12.5px,-50px) scale(2); opacity: 1; filter: blur(7.5px);}
    100%{background-color:#262626; transform: translate(-25px,-100px) scale(3); opacity: 1; filter: blur(10px);}
}

@keyframes driving {
    0% {width: 300px; margin-left: 1900px; margin-top: -250px; transform: rotate(0deg);}
    50%{width:450px; margin-left: 1250px; margin-top: -115px; transform: rotate(0deg);}
    100% {width: 600px; margin-left: 400px; margin-top: -50px; transform: rotate(27deg);}
}

@keyframes h3 {
    0%{background-color: #e847AE; margin-top:0px;}
    100%{background-color: #13CA91; margin-top:700px;}
}

@keyframes smoke {
    0%{}
    100%{}
}
